\#*\#
.*
auto-save-list
elpa
emojis
projectile-bookmarks.eld
tramp
%*%~
persp-confs
projects
transient
workspace
workspaces
org-roam.db
recentf
secrets/*
url/*
tmp/
eln-cache/
var/
straight/
README.el